.card-deck {
    margin-top: 30px;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: 600;
  }
  
  .card-text {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 0;
  }
  
  @media (min-width: 576px) {
    .card-deck {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }
  
    .card {
      margin: 0 10px 20px 10px;
      flex: 1 1 300px;
    }
  }
  